body{
    background-color:maroon;
    color: white;
}
.heading{
    width: 80%;
    font-size: 30px;
}

.name_objects{
    font-size: 20px;
    color: yellow;
}
#camera, #result{
    border: 2px solid black;
    width: 350px;
    height: 300px;

}